.btn {
	background: #ff7200;
	border-radius: 5px;
	border: none;
	-webkit-box-shadow: 0px 2px 0px rgba(232, 104, 0, 1);
	-moz-box-shadow:    0px 2px 0px rgba(232, 104, 0, 1);
	box-shadow:         0px 2px 0px rgba(232, 104, 0, 1);
	color: #fff;

	&:hover, &:focus, &:active {
		color: #fff;
		background: #e86800;
		-webkit-box-shadow: 0px -2px 0px rgba(199, 90, 1, 1);
		-moz-box-shadow:    0px -2px 0px rgba(199, 90, 1, 1);
		box-shadow:         0px -2px 0px rgba(199, 90, 1, 1);
		position: relative;
		top: 2px;
		outline: none;
	}
}

.btn-small {
	padding: 10px 20px 8px;
}

.btn-big {
	padding: 16px 8% 14px;
}

.btn-order {
	font-size: 18px;
	text-transform: uppercase;
}