/* HYGIENE PAGES */

#caption {
	background: #f5f5f5;
	height: 160px;

	.caption {
		h2 {
			margin-top: 36px;
		}

		.order-img {
			display: inline-block;
			float: left;
			width: 46px;
			height: 41px;
			background: url('../../images/printer-icon.png');
			margin-right: 25px;
			margin-top: 2px;
		}
	}
}

#about-us {
	margin: 60px auto 40px;

	.sidebar-nav {
		li {
			font-family: "Avenir-Roman", sans-serif;
			list-style: none;
			text-transform: uppercase;
			font-size: 16px;
			text-align: left;
			padding-bottom: 10px;

			a {
				color: #999999;
				display: inline-block;
				width: 100%;

				span {
					position: relative;
					float: right;
					width: 6px;
					height: 6px;
					top: 9px;
					right: 20px;
					border: 2px solid #999;
					border-top: none;
					border-right: none;

					-webkit-transform: rotate(-135deg);
					-moz-transform: rotate(-135deg);
					-o-transform: rotate(-135deg);
					-ms-transform: rotate(-135deg);
					transform: rotate(-135deg);
				}

				&:hover {
					color: #5f5f5f;

					span {
						border-color: #5f5f5f;
					}
				}

				&.btn-order {
					color: #fff;
					font-size: 14px;
				}
			}
		}

		.active {
			color: #ff7200;

			span {
				border-color: #ff7200;
			}

			&:hover {
				color: #ff7200;

				span {
					border-color: #ff7200;
				}
			}
		}

		.sidebar-subnav {
			margin-top: 4px;
			padding-left: 0;
			margin-left: 10px;

			li {
				padding-bottom: 0;
				text-transform: none;
				font-size: 14px;
				a {
					span {
						background: url('../images/contract-icon.png') no-repeat;
						position: relative;
						float: right;
						width: 13px;
						height: 13px;
						top: 7px;
						right: 15px;
						border: none;
						-webkit-transform: none;
						-moz-transform: none;
						-o-transform: none;
						-ms-transform: none;
						transform: none;
					}
					&:hover {
						span {
							background: url('../images/contract-icon-hover.png') no-repeat;
						}
					}
				}

				.active {
					span {
						background: url('../images/contract-icon-active.png') no-repeat;
					}
					&:hover {
						span {
							background: url('../images/contract-icon-active.png') no-repeat;
						}
					}
				}
			}
		}
	}

	h2 {
		text-align: left;
		color: #4f4f4f;
		font-family: "Avenir-Light";
		padding-bottom: 10px;
		border-bottom: 2px solid #f5f5f5; 
		margin: 50px 0 30px;
		line-height: 36px;
	}

	p {
		text-align: left;
		line-height: 28px;
		color: #999;
	}

	fieldset {
			background: #f5f5f5;
			border-radius: 5px;
			border: none;

			label {
				margin: 20px 0 10px 8%;

				&:first-child {
					margin-top: 4%;
				}
			}

			input, textarea {
				width: 84%;
				margin: 0 auto;
				border-radius: 3px;
				border: 1px solid #e8e8e8;
				height: 40px;
				box-shadow: none;

				&:focus {
					border: 1px solid #ff7200;
				}
			}

			textarea {
				height: 110px;
				margin-bottom: 30px;
			}

			.btn-order {
				display: block;
				width: auto;
				font-size: 14px;
				padding: 14px 24px 12px;
				text-align: center;
				margin: 0 auto 30px;
				font-weight: 100;
			}
	}

	.contact-us {
		h2 {
			margin-top: 0;
		}
	}

	.press {
		h2 {
			&:nth-of-type(1){
				margin-top: 0;
			}
		}

		.row {
			a {
				color: #ff7200;
				font-family: "Avenir-Light";
				font-size: 18px;
				display: inline-block;
				margin: 10px 0 30px;
			}

			.logotype {
				img {
					border: 2px solid #f5f5f5;
				}
			}
		}
	}

	.order {
		fieldset {
			background: none;
			margin-top: 0;
			padding-top: 0;

			h2 {
				margin-top: 50px;

				&:first-child {
					margin-top: 0;
				}

				span {
					float: right;
					display: inline-block;
					border-radius: 50%;
					height: 32px;
					width: 32px;
					background: #ff7200;
					font-size: 16px;
					text-align: center;
					color: #fff;
					line-height: 34px;
				}
			}

			.address {
				width: 60%;
				@include clearfix();

				.city {
					width: 60%;
					float: left;

					input {
						width: 100%;
					}
				}
				.zip {
					width: 38%;
					float: right;

					label {
						margin-top: 12px;
					}

					input {
						width: 100%;
					}
				}
			}

			#shipping, #shipping_adress_check {
				width: 60%;
				label {
					border-bottom: 1px solid #f5f5f5;
					padding-bottom: 4px;
				}
				input {
					display: inline-block;
					float: right;
					width: auto;
				}
				span {
					display: inline-block;
					float: right;
					margin: 8px 10px 0 30px;
					font-size: 14px;
					color: #999999;
					font-family: "Avenir-Roman";
				}
				div {
					width: 300px;
					float: right;
					position: relative;
					top: -48px;
				}
			}

			#payment {
				label {
					border-bottom: 1px solid #f5f5f5;
					padding-bottom: 4px;
				}
			}

			label {
				margin-left: 0;
			}

			input, textarea {
				width: 60%;
				margin-left: 0;

				&:focus {
					background: none;
				}
			}

			.btn-order {
				display: block;
				width: auto;
				font-size: 14px;
				padding: 14px 24px 12px;
				text-align: center;
				margin: 0 auto 30px;
				font-weight: 100;
			}
		}
	}

	.jobs {
		h2 {
			margin-top: 50px;

			&:first-child {
				margin-top: 0;
			}
		}

		fieldset {	
			label {
				margin: 0;
				padding: 0 8%;
			}
			p {
				color: #4f4f4f;
			}
		}
	}
}