/* RETINA IMAGES */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

	.separator {
		.separator1 {
			background-image: url('../../images/bg1@2x.jpg');
			background-size: 100%;
		}

		.separator2 {
			background-image: url('../../images/bg2@2x.jpg');
			background-size: 100%;
		}

		.separator3 {
			background-image: url('../../images/bg3@2x.jpg');
			background-size: 100%;
		}

		.separator4 {
			background-image: url('../../images/bg4@2x.jpg');
			background-size: 100%;
		}

		.separator5 {
			background-image: url('../../images/bg5@2x.jpg');
			background-size: 100%;
		}

		.separator6 {
			background-image: url('../../images/bg6@2x.jpg');
			background-size: 100%;
		}

		.separator7 {
			background-image: url('../../images/bg7@2x.jpg');
			background-size: 100%;
		}
	}

	#header {

		.logo {
			background: url('../../images/logo@2x.png');
			background-size: 117px 41px;
		}
	}

	#welcome {
		background: url('../../images/bg-welcome@2x.jpg');
		background-size: auto 510px;
		background-position: bottom right;
	}


	#about {

		.printer {
			.printer-img {
				background: url('../../images/printer@2x.png') no-repeat;
				background-size: 455px 528px;
			}

			.printer-1 {
				span {
					background: url('../images/printer-1@2x.png') no-repeat;
					background-size: 276px 154px;
				}
			}

			.printer-2 {
				span {
					background: url('../images/printer-2@2x.png') no-repeat;
					background-size: 200px 129px;
				}
			}

			.printer-3 {
				span {
					background: url('../images/printer-3@2x.png') no-repeat;
					background-size: 239px 143px;

					@media screen and (max-width: 1024px) {
						background: url('../images/printer-3b@2x.png') no-repeat;
						background-size: 174px 139px;
				    }
				}
			}

			.printer-4 {
				span {
					background: url('../images/printer-4@2x.png') no-repeat;
					background-size: 308px 101px;

					@media screen and (max-width: 1024px) {
						background: url('../images/printer-4b@2x.png') no-repeat;
						background-size: 240px 118px;
			    }
				}
			}
		}
	}

	#process {
		.print {
			.process-1 {
				span {
					background: url('../images/process1@2x.png');
					background-size: 150px 100px;
				}
			}

			.process-2 {
				span {
					background: url('../images/process2@2x.png');
					background-size: 150px 100px;
				}
			}
			
			.process-3 {
				span {
					background: url('../images/process3@2x.png');
					background-size: 150px 100px;
				}
			}
		}
	}

	#specification {
		span {
			&.icon {
				&.icon1 {
					background: url('../../images/icon1@2x.png');
					background-size: 29px 30px;
				}

				&.icon2 {
					background: url('../../images/icon2@2x.png');
					background-size: 16px 32px;
				}

				&.icon3 {
					background: url('../../images/icon3@2x.png');
					background-size: 16px 32px;
				}

				&.icon4 {
					background: url('../../images/icon4@2x.png');
					background-size: 22px 26px;
				}

				&.icon5 {
					background: url('../../images/icon5@2x.png');
					background-size: 29px 23px;
				}
			}
		}
	}

	#faq {
		ul {
			li {
				span {
					background: url('../../images/faq@2x.png');
					background-size: 25px 25px;
				}
			}
		}
	}

	#footer {
		.social {
			ul.social-icons {
				li {
					a {
						background: url('../../images/social@2x.png');
						background-size: 190px 38px;
					}
				}
			}
		}
	}



}