/*
Clockwork 3d Printer Landing Page Stylesheet
------------------
Table of contents:
1. Includes & Partials
2. Mixins
3. Generic
4. Stellar.js
Main Content:
5. Header
------------------
*/


/* 1. INCLUDES & PARTIALS */
@import "foundation";
@import "pirx/button";
@import "pirx/separator";


/* 2. MIXINS */


/* 3. GENERIC */
html, body {
	height: 100%;
	font: normal normal normal 16px/24px "Avenir-Roman", "Open Sans", sans-serif;
}

h1 { 
	font: normal normal normal 44px "Avenir-Medium", "Open Sans", sans-serif;
	color: #fff;
}

h2 {
	font: normal normal normal 36px "Avenir-Medium", "Open Sans", sans-serif;
	color: #ff7200;
}

h3 {
	font: normal normal normal 22px "Avenir-Roman", "Open Sans", sans-serif;
	color: #999999;
}

h4 {
	font: normal normal normal 16px "Avenir-Light", "Open Sans", sans-serif;
	color: #4f4f4f;
}

p {
	font: normal normal normal 16px/24px "Avenir-Light", "Open Sans", sans-serif;
}

ul li, address {
	font: normal normal normal 16px/27px "Avenir-Light", "Open Sans", sans-serif;
	color: #fff;
}

/*
------------------
MAIN CONTENT
------------------
*/


/* 5. HEADER */


#header {
	height: 80px;

	.logo {
		background: url('../images/logo.png');
		height: 41px;
		width: 117px;
		margin-top: 20px;
	}

	ul.nav {

		li {
			font-family: "Avenir-Roman", sans-serif;
			display: inline;
			list-style: none;
			text-transform: uppercase;
			font-size: 14px;
			padding-left: 40px;
			line-height: 80px;

			a {
				color: #999999;

				&:hover {
					color: #5f5f5f;
				}

				&.btn-order {
					color: #fff;
					font-size: 14px;
				}
			}
		}
	}
}

/* 6. CONTENT */

#welcome {
	background: url('../images/bg-welcome.jpg');
	width: 100%;
	height: 500px;
	-webkit-box-sizing: cover;
	-moz-box-sizing: cover;
	box-sizing: cover;

	h1 {
		margin-top: 110px;
	}

	h2 {
		margin-top: 60px;
	}

	p {
		color: #fff;
		margin-bottom: 60px;
	}

	a {
		color: #fff;
		}
}

#proof {
	min-height: 300px;
	background: #f5f5f5;

	.proof-grid {
		@include block-grid(5);
		text-align: center;
		margin-top: 50px;
	}

	.proof-text {
		background: #fff;
		border-radius: 5px;
		padding: 60px 90px 40px;
		margin-top: 40px;
		position: relative;

		.triangle {
			width: 0; 
			height: 0; 
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-top: 20px solid #fff;

			position: absolute;
			bottom: -20px;
			left: 149px;
		}

		p {
			font-size: 14px;
			color: #999;
		}
	}

	.proof-person {
		width: 283px;
		margin: 0 auto;
		padding: 40px 0;

		img {
			float: left;
			margin-right: 16px;
		}

		h3 {
			color: #4f4f4f;
			padding-top: 8px;
		}

		p {
			font-size: 16px;
			color: #999;
			line-height: 0;

			a {
				color: #ff7200;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

#about {
	min-height: 1000px;
	text-align: center;
	position: relative;

	h2 {
		margin: 60px 0 4px;
		line-height: 36px;
	}

	p {
		color: #999;

		span {
			font-size: 18px;
			color: #4f4f4f;
			font-style: italic;
			line-height: 70px;
		}
	}

	.printer {
		width: 455px;
		height: 528px;
		position: absolute;
		background: url('../images/printer.png') no-repeat;
		bottom: 120px;
		left: 50%;
		margin-left: -223px;
	}
}

#process {
	min-height: 700px;
	background: #f5f5f5;

	h2 {
		margin-top: 60px;
	}

	h3 {
		font-size: 28px;
		color: #4f4f4f;
		margin-top: 110px;
	}

	p {
		font-size: 18px;
		color: #999999;

		span {
			color: #ff7200;
		}
	}

	.video {
		border-radius: 3px;
		-webkit-box-shadow: 0px 0px 2px rgba(50, 50, 50, 0.5);
		-moz-box-shadow:    0px 0px 2px rgba(50, 50, 50, 0.5);
		box-shadow:         0px 0px 2px rgba(50, 50, 50, 0.5);

		&:hover {
			opacity: .6;
		}
	}

	.print {
		margin-top: 10px;

		h3 {
			font-size: 18px;
			color: #4f4f4f;
			margin-top: 30px;
		}

		p {
			font-size: 16px;
			color: #999;
		}

		.process-1, .process-2, .process-3 {
			span {
				display: inline-block;
				float: left;
				width: 150px;
				height: 100px;
				position: relative;
				left: -30px;
				margin-top: 16px;
			}
		}

		.process-1 {
			span {
				background: url('../images/process1.png');
			}
		}

		.process-2 {
			span {
				background: url('../images/process2.png');
			}
		}
		
		.process-3 {
			span {
				background: url('../images/process3.png');
			}
		}
	}
}

#examples {
	min-height: 800px;

	h2 {
		margin-top: 60px;
	}

	p {
		margin-bottom: 60px;
		color: #999999;
	}

	.gallery {
		ul {
			li {
				position: relative;

				a {
					display: block;
					span {
						display: none;
					}

					&:hover {
						background: #ff7200;
						display: block;

						img {
							opacity: .4;
						}
					}
				}
			}
		}
	}
}

#specification {
	min-height: 740px;

	span {

		&.icon {
			display: block;
			float: left;

			&.icon1 {
				background: url('../images/icon1.png');
				height: 30px;
				width: 29px;
				margin-left: -46px;
			}

			&.icon2 {
				background: url('../images/icon2.png');
				height: 32px;
				width: 16px;
				margin-left: -38px;
			}

			&.icon3 {
				background: url('../images/icon3.png');
				height: 32px;
				width: 16px;
				margin-left: -38px;
			}

			&.icon4 {
				background: url('../images/icon4.png');
				height: 26px;
				width: 22px;
				margin-left: -42px;
				margin-top: 1px;
			}

			&.icon5 {
				background: url('../images/icon5.png');
				height: 23px;
				width: 29px;
				margin-left: -46px;
				margin-top: 3px;
			}
		}
	}

	h2 {
		margin-top: 60px;
	}

	h3 {
		color: #4f4f4f;
		margin-top: 40px;
	}

	p {
		font-size: 16px;
		color: #999999;
		margin-bottom: 6px;

		span {
			font-size: 14px;
			color: #ff7200;
		}
	}
}

#faq {
	min-height: 700px;
	background: #f5f5f5;

	h2 {
		margin-top: 60px;
	}

	ul {
		margin-top: 100px;

		li {
			padding: 10px 0;
			list-style: none;

			span {
				display: inline-block;
				height: 25px;
				width: 25px;
				background: url('../images/faq.png');
				position: relative;
				top: 6px;
				margin-right: 12px;
			}

			a {
				font-size: 19px;
				color: #4f4f4f;

				&:hover {
					color: #999;
					text-decoration: underline;
				}
			}
		}
	}

	p {
		font-size: 19px;
		color: #ff7200;
		line-height: 27px;
	}

	.faq-content {
		p {
			font-size: 14px;
			color: #999;
		}

		.faq1, .faq2, .faq3, .faq4 {
			padding: 60px 60px 40px;
			background: #fff;
			border-radius: 5px;
			margin-top: 60px;
		}

		.faq1 {
			margin-top: 180px;
		}

		.faq2 {
			margin-top: 155px;
		}

		.faq3 {
			margin-top: 95px;
		}

	}
}

#contact {
	min-height: 800px;
	background: #f5f5f5;

	h2 {
		margin-top: 60px;
	}

	p {
		font-size: 16px;
		color: #999999;
	}

	fieldset {
		background: #fff;
		border-radius: 5px;
		border: none;
		margin-top: 40px;

		label {
			margin: 20px 0 10px 8%;

			&:first-child {
				margin-top: 4%;
			}
		}

		input, textarea {
			width: 84%;
			margin: 0 auto;
			border-radius: 3px;
			border: 1px solid #e8e8e8;
			height: 40px;
			box-shadow: none;
		}

		textarea {
			height: 110px;
			margin-bottom: 30px;
		}

		.btn-order {
			display: block;
			width: 155px;
			font-size: 14px;
			padding: 8px 0 6px;
			text-align: center;
			margin: 0 auto 30px;
		}
	}
}

#team {
	min-height: 700px;

	h2 {
		margin-top: 60px;
	}

	h3 {
		color: #4f4f4f;
		margin: 8px auto 4px;
	}

	img {
		display: block;
		margin: 20px auto 0;
	}

	img:first-child {
		margin-top: 40px;
	}
	
	h3, p {
		text-align: center;
	}

	p {
		font-size: 16px;
		color: #999999;

		span {
			color: #ff7200;
		}
	}
}

#quote {
	height: 215px;

	img {
		margin-top: 40px;
	}

	h3 {
		font-style: italic;
		margin: 26px 0 10px;
	}
}

#sumup {
	height: 260px;
	background: #f5f5f5;

	h3 {
		color: #4f4f4f;
		margin: 70px 0 50px;
	}
}

#footer {
	min-height: 375px;
	background: #4f4f4f;

	h3 {
		margin-top: 50px;
	}

	p {
		color: #fff;
	}

	ul {
		li {
			list-style: none;
		}
	}

	input {
	  border-style: solid;
	  border-width: 1px;
	  border-color: rgb( 232, 232, 232 );
	  border-radius: 5px;
	  background-color: rgb( 255, 255, 255 );
	  width: 175px;
	  height: 39px;
	  float: left;
	  box-shadow: none;
	}

	button {
		float: left;
		font: normal normal normal 14px "Avenir-Light", sans-serif;
		margin-left: 10px;
	}

	.address {

		h3, address {
			text-align: right;
		}
	}

	.social {
		margin-top: 40px;
		border-top: 1px solid #5f5f5f;

		ul.social-icons {
			width: 336px;
			margin: 38px auto 0;

			li {
				display: inline-block;
				list-style: none;
				padding: 0 13px;

				a {
					display: block;
					height: 38px;
					width: 38px;
					background: url('../images/social.png') no-repeat top left;
					
					&.tw {background-position: -38px top;}
					&.gp {background-position: -76px top;}
					&.yt {background-position: -114px top;}
					&.vi {background-position: -152px top;}

					&:hover {
						width: 38px;
						opacity: .5;
					}
				}
			}
		}
	}
}

#copyright {
	min-height: 65px;
	background: #5f5f5f;

	p {
		font-size: 14px;
		color: #999999;
		margin-top: 22px;
	}
}




/* ?. RETINA */
@import "pirx/retina";